body {
    background-color: #dfdfdf;
}

hr {
    border-color: #535a65;
}

a, body {
    color:#535a65;
}

footer, .hero, footer a {
    color: #fcfafa;
}

footer, .hero {
    padding:3rem 2rem;
    background-color: #535a65;
    text-align: center;
}

.hero-icon {
    display: none;
    font-size: 8rem;
}

.hero {
    margin-bottom:3rem;
    display: flex;
    align-items: center;
    justify-content: center
}

footer p {
    margin-bottom: 1rem;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    color:#1f81aa;
}

li {
    margin-bottom: 0;
}

.card p {
    font-size:1.4rem;
    margin-bottom: 1rem;
}

.card h6 {
    margin-bottom:0;
}

.card ul {
    padding-left: 2rem;
}

section {
    margin-bottom: 4rem
}

.img {
    vertical-align: middle;
}

#me-img {
    border-radius: 3rem;
}

#me-img, .project-img {
    padding:0;
    margin:0;
}

.social {
    padding: 1rem;
    font-size: 3rem;
}

button.button-primary {
    color: #FFF;
    background-color: #1f81aa;
    border-color: #1f81aa;
}

button:active {
    transform: translateY(2px);
}

/*
.project:not(:last-child) {
	margin-bottom: 4rem;
}
*/

.project-img {
	padding: .3rem;
/*	border: 1px solid #535a65;*/
	border-radius: 2.2rem;
	background-color:rgba(150,150,150,0.7);
}

.separator {
	text-align: center;
	font-size: 5rem;
	margin: 2rem;
}




/*---------------Keyframes---------------*/

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform:translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform:translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform:translateX(+15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}





/*------------------Media queries---------------------*/

/* Larger than phablet */
@media (min-width: 550px) {
	.left-column {
		margin-left: 0;
	}
	
    .hero {
        padding:8rem 0;
    }
    
    .hero h5 {
        margin: 2rem;
    }
    
    h6 {
        font-size: 1.6rem;
    }
    
    .hero-icon {
        display: block;
    }
    
    .hero #icon-box {
        display: inline-block;
    }
    
    .hero #text-box {
        display: inline-block;
        text-align: left;
        margin-left: 1.5rem;
    }
}



/* Larger than tablet */
/* Use for animations */
@media (min-width: 750px) {
    #icon-box, #text-box, #me-img, #img-angular {
        opacity: 0;
        animation: fade-in-right ease 0.4s forwards;
    }
	
	#img-django {
		opacity: 0;
		animation: fade-in-left ease 0.4s forwards;
	}
    
    #text-box, #me-img, #img-angular, #study {
        animation-delay: 0.1s;
    }
    
    #about-me, #my-skills, #this-site, #study, .project-text {
        opacity: 0;
        animation: fade-in-up ease 0.4s forwards;
    }
    
    #my-skills, #img-django {
        animation-delay: 0.05s;
    }
    #this-site {
        animation-delay: 0.08s;
    }
    
    hr {
        transform: scaleX(0);
        transform-origin: left;
        animation: grow-left ease-in 0.3s forwards;
    }
    
}

@media (max-width: 749px) {
	.row .stack {
	  width: 100%;
	  float: left;
	  box-sizing: border-box;
	}
}